{
  "presets": [
    [
      "@babel/env",
      {
        "corejs": "^3.21.1",
        "useBuiltIns": "entry",
        "modules": false
      }
    ],
    "minify"
  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-typeof-symbol"
  ],
  "comments": false
}