#ALTERNATE DEFAULT INDEX PAGES
DirectoryIndex index.php index.html login.php
DirectorySlash On

## PRETTY URLS
<IfModule mod_rewrite.c>
Options +SymLinksIfOwnerMatch
RewriteEngine On
RewriteBase /

RewriteRule ^sitemap\.xml$ sitemap.php [L]
RewriteRule ^robots\.txt$ robots.php [L]
RewriteRule ^site\.webmanifest$ site.php [L]

ErrorDocument 404 /404.php
ErrorDocument 500 /404.php
ErrorDocument 400 /404.php
ErrorDocument 401 /404.php
ErrorDocument 403 /404.php

RewriteCond %{HTTP:Accept-Language} ^no [NC]
RewriteRule ^$ /no/ [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z]{2})/([^/]+)/?$ /index.php?slug=$2&lang=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ /index.php?g1=$1 [L,QSA]

</IfModule>

# AARSTEIN MEDIA SECURITY

# Disable the Server Signature
ServerSignature Off

# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
Order Allow,Deny
Deny from all
Satisfy all
</Files>

# Block Sensitive Files
<Files *.htaccess>
Order Allow,Deny
Deny from all
</Files>

# Anti-SQL injection
Options -Indexes -Multiviews
RewriteEngine On
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
RewriteRule ^(.*)$ index.php [F,L]

# END security

AddType font/woff .woff
AddType font/woff2 .woff2

AddType image/svg+xml .svg .svgz
AddEncoding x-gzip .svgz

AddType "text/javascript;charset=UTF-8" .jgz
AddEncoding gzip .jgz

<IfModule mod_mime.c>
  AddType image/webp .webp
</IfModule>

## EXPIRES CACHING ##
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType application/json "access plus 1 month"
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType application/x-javascript "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
  ExpiresByType application/xhtml-xml "access plus 1 month"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"
  ExpiresByType video/webm "access plus 1 year"
  ExpiresByType text/css "access 1 month"
  ExpiresByType text/html "access 1 month"
  ExpiresByType text/x-javascript "access 1 month"
  ExpiresByType text/javascript "access 1 month"
  ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##

## GZIP
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE video/mp4
AddOutputFilterByType DEFLATE video/webm

<IfModule mod_headers.c>
    Header always edit Set-Cookie (.*) "$1; HTTPOnly"
    Header always edit Set-Cookie (.*) "$1; Secure"
  <FilesMatch ".(js|css|xml|xml+svg|gz|html)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
  <FilesMatch "\.(ico|pdf|flv|jpg|jpeg|mp4|webm|webp|png|gif|js|css|swf)$">
    Header set Expires "Wed, 15 Apr 2026 20:00:00 GMT"
    Header set Cache-Control "public"
    Header set Content-Encodig: gzip
  </FilesMatch>
  ## END GZIP
</IfModule>
